.menu-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: drop-shadow(0.2rem 0.2rem 1rem rgba(213, 213, 213, 0.8));
    border-radius: 50%;
    font-size: 80px;
}
.menu-button.open{
    transform: rotate(145deg);
}

.menu-overlay{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the alpha value to control the darkness */
        z-index: 999;
        /* Adjust the z-index as needed */
}
.menu.extended {
    width: 800px;
}

.post-caption {
    width: 100%;
    height: 20rem;
    margin: 10px 0px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    resize: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity and color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light gray */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    position: fixed;
    top:50%;
    left:50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 550px;
    position: absolute;
    top: 10%;
    left: 33%;
    background-color: #282727;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
    z-index: 10000;
    opacity: 0;
}

.new-post-title {
    padding: 10px 0px;
    font-weight: 700;
    font-size: 0.95rem;
    border-bottom: 0.4px solid rgb(73, 73, 73);
    display: flex;
    justify-content: flex-start;
    gap: 25%;
    width: 100%;
    align-items: center;
    align-content: center;
}

.menu.open {
    opacity: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 8px 16px;
    cursor: pointer;
}

/* .menu ul li:hover {
    background-color: #f0f0f0;
} */